body {
  font-family: 'Baloo 2', sans-serif;
  background:#ffffff;
  margin-top: 100px;
}

img {
  max-width: 80%;
}

.img-dueno{
  max-width: 30%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.logo{
  margin-right: 10px;
}

.image-container {
  position: relative;
  width: 400px; /* Ancho de tu imagen */
  margin-left: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.info a{
  display: inline-block;
  background-color:none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.FieldIB{
  display: inline;
  margin: 10px 25px;
}

.BtnGrlReportar {
  width: 120px;
  padding: 8px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
    
}

.BtnGrlReportar:hover {
  background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
}

.BtnGrlBloqueo {
  width: 120px;
  padding: 8px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
    
}

.BtnGrlBloqueo:hover {
  background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
}

/** CODIGO AQUI **/

.cuadro {
  background-color: #D9D9D9;
  width: 350px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.cuadro-azul {
  background-color:#00A3FF;
  width: 350px;
  height: 350px;
  position: absolute;
}

.imagen {
  max-width: 100%;
  max-height: 100%;
  margin-top:30px; margin-left:20px;  
}


.buttons-container {
  position: relative;
  bottom: 90px;
  left: 0;
  right: 50px;
  display: flex;
  justify-content: center;
  padding: 10px; /* Opcional: agrega un espacio entre los botones y el borde inferior */
  
}

.buttons-container2{
  position: relative;
  top: 210px;
  bottom: 0;
  left: 0;
  right: 50px;
  display: flex;
  justify-content: center;
  padding: 10px; /* Opcional: agrega un espacio entre los botones y el borde inferior */

}

@media (min-width: 768px){

  .tres-columnas{
    display: flex;
    justify-content: space-between;
  }

  .info{
    
      flex:0 0 calc(33.3% - 1rem);

  }
  
  
}

/* = body
------------------------*/
.description{
  text-align:center;
  color:#ecf0f1;
  text-shadow:0 0.1em 0.2em #008c8d;
}
/* = Scroll body
------------------------*/
::-webkit-scrollbar{
  width:0.2em;
}

::-webkit-scrollbar-track{
  background-color:#bdc3c7;
}

::-webkit-scrollbar-thumb{
  background-color:#D9D9D9;
}
/* = table
------------------------*/
.box-table table{
  border-collapse:collapse;
  text-align:left;
  width:100%;
  margin:0;
  padding:0;
  background:#D9D9D9;
  animation: responsive 5s infinite ease-in-out;
}

.box-table{
  overflow:hidden;
  margin:0 auto;
  display:block;
  width:95%;
  padding:2.5%;
}

.box-table table thead th{
  background-color:#D9D9D9;
  color:#000000;
  text-align:center;
  padding: 0.75em;
  font-weight: bold;
  font-size: 1.5em;
  height: 1.5em;
  vertical-align: top;
  border-left:0.25em double #95a5a6;

}

.box-table table tbody td,
.box-table table tbody tr{
  font-size:1em;
  border:none;
  padding:1em;
}

.box-table table tbody tr:nth-child(odd){
  background:#ecf0f1;
  color:#131414;
}

.box-table table tbody tr:nth-child(even){
  background:#bdc3c7;
  color:#070707;
}

.box-table table tbody tr a{
  text-decoration:none;
  color:#e67e22;
}

.box-table table tbody tr a:hover{
  color:#d35400;
}

.box-table .user-photo{
  background:#0c0c0c;
}

.box-table .user-tumb{
  width:6em;
  height:6em;
  padding:0;
  display:table-cell;
  text-align:center;
  margin:0 auto;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}

/* = Responsive table
------------------------*/

/* http://elvery.net/demo/responsive-tables/  */
@media only screen and (max-width: 800px){
  .box-table table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
  }
  .box-table th,
  .box-table td{
    margin:0;
    vertical-align:top;
  }
  .box-table th{
    text-align:left;
  }
  .box-table table{
    display:block;
    position:relative;
    width:100%;
  }
  .box-table thead{
    display:block;
    float:left;
  }
  .box-table tbody{
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
  }
  .box-table thead tr{
    display:block;
  }
  .box-table th{
    display:block;
    text-align:right;
  }
  .box-table tbody tr{
    display:inline-block;
    vertical-align:top;
  }
  .box-table td{
    display:block;
    min-height:1.25em;
    text-align:left;
  }
  .box-table th{
    border-bottom:0;
    border-left:0;
  }
  .box-table td{
    border-left:0;
    border-right:0;
    border-bottom:0;
  }
}
/* = Error
------------------------*/
.error_table {
  display: block;
  background: #E05E5E;
  color: #D1D1D1;
  text-align: center;
  font-size: 3em;
  width: 90%;
  padding: 5%;
}
/* = Loader
------------------------*/
.loading_table{
  background:#d35400;
  color:#ecf0f1;
  text-align: center;
  font-size: 1em;
  width: 0;
  display: block;
  overflow: hidden;
  height: 1em;
  padding:0.5em;
  animation: table_loader 10s infinite ease;
}

@keyframes table_loader{50%{width:100%}}
@-webkit-keyframes table_loader{50%{width:100%}}
@-moz-keyframes table_loader{50%{width:100%}}
@-ms-keyframes table_loader{50%{width:100%}}
@-o-keyframes table_loader{ 50%{width:100%}}

/*------------------------- Ventana Modal Reportar ------------------------------------------------------*/

.modalReportar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalReportar--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s; 
}

.modalContenedorReportar{
  margin: auto;
  width: 90%;
  background-color: #fff;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  text-align: center;
  transform:  var(--transform);
  transition: var(--transition);
}

.modalTituloReportar{
  font-size: 3rem;
  font-weight: bold;
}

.radio_optionReportar{
  margin-right: 10px;
  margin-bottom: 25px;
}

.button_optionReportar{
  width: 50%;
  height: 50px;
  padding: 8px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.button_optionReportar:hover{
  background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
}

.text_optionReportar{
  width: 300px;
  padding: 10px;
  border: 0;
  background-color: #eee;
  font-size: 16px;
  margin-bottom: 50px;
}

.opcionesReportar{
  text-align: left;
}

label {
  font-size: 1.2rem; 
  color: #333; 
  margin-right: 10px; 
  padding: 5px; 
  font-weight: bold;
}

.imagenReportar{
  text-align: right;
}

.fotoCloseReportar{
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fotoCloseReportar:hover{
  transform: scale(1.1);
}

/*------------------------- Ventana Modal Bloquear ------------------------------------------------------*/
.modalBloquear{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalBloquear--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s; 
}

.modalContenedorBloquear{
  margin: auto;
  width: 90%;
  background-color: #fff;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  text-align: center;
  transform:  var(--transform);
  transition: var(--transition);
}

.modalTituloBloquear{
  font-size: 3rem;
  font-weight: bold;
}

.radio_optionBloquear{
  margin-right: 10px;
  margin-bottom: 25px;
}

.button_optionBloquear{
  width: 50%;
  height: 50px;
  padding: 8px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.button_optionBloquear:hover{
  background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
}

.text_optionBloquear{
  width: 300px;
  padding: 10px;
  border: 0;
  background-color: #eee;
  font-size: 16px;
  margin-bottom: 50px;
}

.opcionesBloquear{
  text-align: left;
}

label {
  font-size: 1.2rem; 
  color: #333; 
  margin-right: 10px; 
  padding: 5px; 
  font-weight: bold;
}

.imagenBloquear{
  text-align: right;
}

.fotoCloseBloquear{
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fotoCloseBloquear:hover{
  transform: scale(1.1);
}

/*------------------------- Ventana Modal Reportar ------------------------------------------------------*/

  .modalReportar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
  }

  .modalReportar--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s; 
  }

  .modalContenedorReportar{
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    text-align: center;
    transform:  var(--transform);
    transition: var(--transition);
}

  .modalTituloReportar{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;  
    margin-top: -35px;  
  }

  .radio_optionReportar{
    margin-right: 10px;
    margin-bottom: 25px;
  }

  .button_optionReportar{
    width: 50%;
    height: 50px;
    padding: 8px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .button_optionReportar:hover{
    background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
  }

  .text_optionReportar{
    width: 300px;
    padding: 10px;
    border: 0;
    background-color: #eee;
    font-size: 16px;
    margin-bottom: 50px;
  }

  .opcionesReportar{
    text-align: left;
  }

  label {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem; 
    color: #333; 
    margin-right: 10px; 
    padding: 5px; 
    font-weight: bold;
  }

  .imagenReportar{
    text-align: right;
  }

  .fotoCloseReportar{
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -30px;
  }

  .fotoCloseReportar:hover{
    transform: scale(1.1);
  }

/*------------------------- Ventana Modal Bloquear ------------------------------------------------------*/
.modalBloquear{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modalBloquear--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s; 
}

.modalContenedorBloquear{
  margin: auto;
  width: 90%;
  background-color: #fff;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  text-align: center;
  transform:  var(--transform);
  transition: var(--transition);
}

.modalTituloBloquear{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;  
  margin-top: -35px;  
}

.radio_optionBloquear{
  margin-right: 10px;
  margin-bottom: 25px;
}

.button_optionBloquear{
  width: 50%;
  height: 50px;
  padding: 8px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.button_optionBloquear:hover{
  background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
}

.text_optionBloquear{
  width: 300px;
  padding: 10px;
  border: 0;
  background-color: #eee;
  font-size: 16px;
  margin-bottom: 50px;
}

.opcionesBloquear{
  text-align: left;
}

label {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem; 
  color: #333; 
  margin-right: 10px; 
  padding: 5px; 
  font-weight: bold;
}

.imagenBloquear{
text-align: right;
}

.fotoCloseBloquear{
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: -30px;
}

.fotoCloseBloquear:hover{
transform: scale(1.1);
}