body{
    font-family: 'Baloo 2', sans-serif;
}

form {
    margin-top: 40px;
    display: flex;
}
img {
    max-width: 80%;
  }
.logo{
    margin-right: 10px;
}

.sexo-mascota{
    font-weight: bold;
    margin-left: 10px ;
}

form label, form legend{
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    color: #000;
}

.column {
    flex: 1;
    width: 50%;
    margin: 75px;
}

.columnPhotos{
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.StyleInp {
    display: block;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 80%;
    padding: 7px;
    margin-bottom: 20px;
    text-align: left;
       
}

.FieldIBP{
    display: inline;
    width: 40%;
    margin: 20px 0px 20px;
}

.raza{

}

.mas{
    height: 15%;
    width: 15%;
    display: grid;
    position: relative;
    bottom: 15px;
    left: 125px;
}

/*.Btn_XY{
    display: flex; 
    justify-content: end; 
    align-items: center;
    margin: 0px 100px 20px 0px;
}*/

.Btn_XY {
    position: fixed; /* Fija el botón en la ventana, independientemente del desplazamiento */
    bottom: 20px;
    right: 20px;
}

.Btn_XY2{
  position: fixed; /* Fija el botón en la ventana, independientemente del desplazamiento */
  bottom: 20px;
  right: 150px;
}

.BtnGrl {
    width: 120px;
    padding: 8px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to top right, rgb(220, 60, 170), rgb(255, 85, 0));
    color: #ffffff;
    font-weight: bold;
}

.BtnGrl:hover {
    background: linear-gradient(to top right, rgb(220, 20, 170), rgb(255, 35, 0));
}

.InpImg {
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.DivInpImg {
    display: inline-block;
    width: 140px;
    height: 200px;
    border-style: dashed;
    border-color: gray;
    border-radius: 15px;
    margin: 10px;
    background: #D9D9D9;
    border-radius: 35px;
    cursor: pointer;
}


/* = table
------------------------*/
.box-table table{
    border-collapse:collapse;
    text-align:left;
    width:100%;
    margin:0;
    padding:0;
    background:#D9D9D9;
    animation: responsive 5s infinite ease-in-out;
  }
  
  .box-table{
    overflow:hidden;
    margin:0 auto;
    display:block;
    width:95%;
    padding:2.5%;
  }
  
  .box-table table thead th{
    background-color:#D9D9D9;
    color:#000000;
    text-align:center;
    padding: 0.75em;
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
    vertical-align: top;
    border-left:0.25em double #95a5a6;
  
  }
  
  .box-table table tbody td,
  .box-table table tbody tr{
    font-size:1em;
    border:none;
    padding:1em;
  }
  
  .box-table table tbody tr:nth-child(odd){
    background:#ecf0f1;
    color:#131414;
  }
  
  .box-table table tbody tr:nth-child(even){
    background:#bdc3c7;
    color:#070707;
  }
  
  .box-table table tbody tr a{
    text-decoration:none;
    color:#e67e22;
  }
  
  .box-table table tbody tr a:hover{
    color:#d35400;
  }
  
  .box-table .user-photo{
    background:#0c0c0c;
  }
  
  .box-table .user-tumb{
    width:6em;
    height:6em;
    padding:0;
    display:table-cell;
    text-align:center;
    margin:0 auto;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
  }
  
  /* = Responsive table
  ------------------------*/
  
  /* http://elvery.net/demo/responsive-tables/  */
  @media only screen and (max-width: 800px){
    .box-table table{
      width:100%;
      border-collapse:collapse;
      border-spacing:0;
    }
    .box-table th,
    .box-table td{
      margin:0;
      vertical-align:top;
    }
    .box-table th{
      text-align:left;
    }
    .box-table table{
      display:block;
      position:relative;
      width:100%;
    }
    .box-table thead{
      display:block;
      float:left;
    }
    .box-table tbody{
      display:block;
      width:auto;
      position:relative;
      overflow-x:auto;
      white-space:nowrap;
    }
    .box-table thead tr{
      display:block;
    }
    .box-table th{
      display:block;
      text-align:right;
    }
    .box-table tbody tr{
      display:inline-block;
      vertical-align:top;
    }
    .box-table td{
      display:block;
      min-height:1.25em;
      text-align:left;
    }
    .box-table th{
      border-bottom:0;
      border-left:0;
    }
    .box-table td{
      border-left:0;
      border-right:0;
      border-bottom:0;
    }
  }
  /* = Error
  ------------------------*/
  .error_table {
    display: block;
    background: #E05E5E;
    color: #D1D1D1;
    text-align: center;
    font-size: 3em;
    width: 90%;
    padding: 5%;
  }
  /* = Loader
  ------------------------*/
  .loading_table{
    background:#d35400;
    color:#ecf0f1;
    text-align: center;
    font-size: 1em;
    width: 0;
    display: block;
    overflow: hidden;
    height: 1em;
    padding:0.5em;
    animation: table_loader 10s infinite ease;
  }
  
  @keyframes table_loader{50%{width:100%}}
  @-webkit-keyframes table_loader{50%{width:100%}}
  @-moz-keyframes table_loader{50%{width:100%}}
  @-ms-keyframes table_loader{50%{width:100%}}
  @-o-keyframes table_loader{ 50%{width:100%}}